<!DOCTYPE html>
<html>
<head>
  <title>Caviar</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="root_link">
  <%= link_to "Strona główna", root_path %>
</div>
<%= yield %>

</body>
</html>
